/* body {
	background: #000;
	margin: 0;
	padding: 0;
	padding-bottom: 80px;
	width: 100%;
	height: 100%;
	display: table;
	background-image: url("img/bg1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

a {
	color: #FFFFFF;
	text-decoration: none;
	width: 100%;
	height: 100%;
	border: 0;
}

a:hover {
	color: #FFFFFF !important;
}

a:visited {
	color: #CACACA;
}

a div {
	width: 100%;
	height: 100%;
	padding: 0.1em 0;
}

ul {
	height: fit-content;
	list-style-type: none;
	margin: 0;
	padding: 1px 0 0 0;
}

ul li {
	height: fit-content;
	line-height: 160%;
	margin-bottom: 0.225em;
	padding: 0 !important;
}

li {
	background: #000000;
	color: #FFFFFF;
	padding: 4px;
	min-width: 300px;
	float: left;
	transition-property: background-color;
	transition-timing-function: ease;
	transition-duration: 75ms;
	-webkit-transition-property: background;
	-webkit-transition-timing-function: ease;
	-webkit-transition-duration: 0.25s;
	text-align: left;
	font-family: verdana, helvetica, arial;
	font-size: 14px;
	clear: left;
}

li:hover {
	background: #2ACAEA;
	cursor: pointer;
	cursor: hand;
	font-size: 14px;
}

#container {
	width: 1584px;
	display: flex;
	border: 0.5em inset #32323288;
	background-image: url("img/bg2.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-position-y: 0;
	overflow-x: scroll;
}

#navwrapper {
	width: 100vw;
	margin-right: 5%;
	clear: both;
	height: auto;
}


#head {
	color: #FFFFFF;
	width: 95%;
	border: 0.2em solid #323232dd;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #686868;
	background-image: url("img/head_bg.png");
	font-family: verdana, helvetica, arial;
	font-size: 14px;
	margin: 0 auto 2px;
	padding: 8px 4px;
}


#blok {
	width: 300px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 0px;
}

#header {
	position: relative;
	display: flex;
	align-content: center;
    justify-content: flex-start;
    align-items: center;
	width: 100%;
	height: 101px;
	background: #efefef;
	background: linear-gradient(90deg, rgba(239,239,239,1) 0%, rgba(235,253,255,1) 81%, rgba(199,248,255,1) 95%, rgba(207,239,244,1) 100%);
	margin: 0 5px;
}

#headerlogo {
	flex-basis: 18%;
	display: flex;
}

#headerlogo a {
	width: inherit;
	height: inherit;
}

#headerimage {
	cursor: pointer;
	width: 100%;
}

#searchbar {
	position: relative;
	display: flex;
	flex-basis: 18%;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #999999;
	height: 100%;
	float: right;
	margin: 0;
	padding: 0 8px;
	z-index: 5;
}

#searchbox {
	display: flex;
}

.search {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	background-color: #FFFFFF;
	padding: 3px;
	height: 32px;
	width: 100%;
	font-size: 12px;
	margin: 0;
	background-image: url(img/search_bg2.jpg);
	background-repeat: repeat-x;
	background-position: top;
	border: 1px solid #232323;
}

.submit {
	height: 40px;
	color: #ffffff;
	background: #000000;
	background-repeat: no-repeat;
	background-position: right center;
	border: 0px solid #0099FF;
	font-size: 14px;
}

@media screen and (min-width: 40px) {
	#container {
		width: 94vh;
		float: left;
		padding: .2em .5em;
		margin: 1rem 0;
	}
}

@media screen and (min-width: 350px) {
	#container {
		width: 90%;
		margin: 1.5rem auto;
	}
}

@media screen and (min-width: 480px) {
	#container {
		width: 80%;
		float: unset;
		overflow-x: auto;
		padding: .5rem 1rem;
	}

	#header {
		width: 85%;
		height: fit-content;
		padding: 1em 0;
		margin: 0 1em;
	}

	.search {
		padding: 3px;
		height: 32px;
		width: 100%;
	}

	.submit {
		height: 40px;
	}
}

@media screen and (min-width: 960px) {
	#container {
		width: 1584px;
		padding: 1rem 3rem 4rem 3rem;
	}

	#header {
		width: 100%;
	}

	.search {
		padding: 3px;
		height: 32px;
		width: 100%;
	}

	.submit {
		height: 40px;
	}
} */


body {
	background: #000;
	margin: 0;
	padding: 0;
	padding-bottom: 80px;
	width: 100%;
	height: 100%;
	display: table;
	background-image: url("img/bg1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

a {
	color: #FFFFFF;
	text-decoration: none;
	width: 100%;
	height: 100%;
	border: 0;
}

a:hover {
	color: #FFFFFF !important;
}

a:visited {
	color: #CACACA;
}

a div {
	width: 100%;
	height: 100%;
	padding: 0.1em 0;
}

ul {
	height: fit-content;
	list-style-type: none;
	margin: 0;
	padding: 1px 0 0 0;
}

ul li {
	height: fit-content;
	line-height: 160%;
	margin-bottom: 0.225em;
	padding: 0 !important;
}

li {
	background: #000000;
	color: #FFFFFF;
	padding: 4px;
	min-width: 300px;
	float: left;
	transition-property: background-color;
	transition-timing-function: ease;
	transition-duration: 75ms;
	-webkit-transition-property: background;
	-webkit-transition-timing-function: ease;
	-webkit-transition-duration: 0.25s;
	text-align: left;
	font-family: verdana, helvetica, arial;
	font-size: 14px;
	clear: left;
}

li:hover {
	background: #2ACAEA;
	cursor: pointer;
	cursor: hand;
	font-size: 14px;
}

#container {
	width: 1584px;
	display: flex;
	border: 0.5em inset #32323288;
	background-image: url("img/bg2.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-position-y: 0;
	overflow-x: scroll;
}

#navwrapper {
	width: 100vw;
	margin-right: 5%;
	clear: both;
	height: auto;
}


#head {
	color: #FFFFFF;
	width: 95%;
	border: 0.2em solid #323232dd;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #686868;
	background-image: url("img/head_bg.png");
	font-family: verdana, helvetica, arial;
	font-size: 14px;
	margin: 0 auto 2px;
	padding: 8px 4px;
}


#blok {
	width: 300px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 0px;
}

#header {
	position: relative;
	display: flex;
	align-content: center;
    justify-content: flex-start;
    align-items: center;
	width: 100%;
	height: 101px;
	background: #efefef;
	background: linear-gradient(90deg, rgba(239,239,239,1) 0%, rgba(235,253,255,1) 81%, rgba(199,248,255,1) 95%, rgba(207,239,244,1) 100%);
	margin: 0 5px;
}

#headerlogo {
	flex-basis: 18%;
	display: flex;
}

#headerlogo a {
	width: inherit;
	height: inherit;
}

#headerimage {
	cursor: pointer;
	width: 100%;
}

#searchbar {
	position: relative;
	display: flex;
	flex-basis: 20%;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #999999;
	height: 100%;
	float: right;
	margin: 0;
	padding: 0 8px;
	z-index: 5;
}

#searchbox {
	display: flex;
width: 100%;}

.search {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	background-color: #FFFFFF;
	padding: 3px;
	height: 32px;
	width: 100%;
	font-size: 12px;
	margin: 0;
	background-image: url(img/search_bg2.jpg);
	background-repeat: repeat-x;
	background-position: top;
	border: 1px solid #232323;
}

.submit {
	height: 40px;
	color: #ffffff;
	background: #000000;
	background-repeat: no-repeat;
	background-position: right center;
	border: 0px solid #0099FF;
	font-size: 14px;
}

@media screen and (min-width: 40px) {
	#container {
		width: 94vh;
		float: left;
		padding: .2em .5em;
		margin: 1rem 0;
	}
}

@media screen and (min-width: 350px) {
	#container {
		width: 90%;
		margin: 1.5rem auto;
	}
}

@media screen and (min-width: 480px) {
	#container {
		width: 80%;
		float: unset;
		overflow-x: auto;
		padding: .5rem 1rem;
	}

	#header {
		width: 100%;
		height: fit-content;
		padding: 1em 0;
		/* margin: 0 1em; */
	}

	.search {
		padding: 3px;
		height: 32px;
		width: 100%;
	}

	.submit {
		height: 40px;
	}
}

@media screen and (min-width: 960px) {
	#container {
		width: 1584px;
		padding: 1rem 3rem 4rem 3rem;
	}

	#header {
		width: 100%;
	height: 5vh;}

	.search {
		padding: 3px;
		height: 32px;
		width: 100%;
	}

	.submit {
		height: 40px;
	}
}