body {
	background: #000;
	margin: 0;
	padding: 0;
	padding-bottom: 80px;
	width: 100%;
	height: 100%;
	display: table;
	background-image: url("img/bg1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

a {
	color: #FFFFFF;
	text-decoration: none;
	width: 100%;
	height: 100%;
	border: 0;
}

a:hover {
	color: #FFFFFF !important;
}

a:visited {
	color: #CACACA;
}

a div {
	width: 100%;
	height: 100%;
	padding: 0.1em 0;
}

ul {
	height: fit-content;
	list-style-type: none;
	margin: 0;
	padding: 1px 0 0 0;
}

ul li {
	height: fit-content;
	line-height: 160%;
	margin-bottom: 0.225em;
	padding: 0 !important;
}

li {
	background: #000000;
	color: #FFFFFF;
	padding: 4px;
	min-width: 300px;
	float: left;
	transition-property: background-color;
	transition-timing-function: ease;
	transition-duration: 75ms;
	-webkit-transition-property: background;
	-webkit-transition-timing-function: ease;
	-webkit-transition-duration: 0.25s;
	text-align: left;
	font-family: verdana, helvetica, arial;
	font-size: 14px;
	clear: left;
}

li:hover {
	background: #2ACAEA;
	cursor: pointer;
	cursor: hand;
	font-size: 14px;
}

.blok {

}

.blokhead {

}