body {
background: #000;
margin:0px;
padding:0px;
padding-bottom: 80px;
width: 100%;
height: 100%;
display: table;
background-image: url("bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
b
}

#navwrapper {
width: 1300px;
margin-left: auto;
margin-right: auto;
margin-top: 12px;
clear:both;
height: 100%;
}
a {color: #FFFFFF; text-decoration: none;}
a:hover {color: #FFFFFF; text-decoration: none;}
a:visted {color: #FFFFFF; text-decoration: none;}
li{
background:#000000;
color:#FFFFFF;
padding: 4px;
min-width: 300px;
float: left;
-webkit-transition-property: background;
-webkit-transition-duration: 0.3s;
-webkit-transition-timing-function: ease;
text-align: left;
font-family:verdana,helvetica,arial;
font-size:14px;
margin-bottom: 2px;
clear: left;
}

li:hover {
background:#2ACAEA;
cursor:pointer; cursor:hand;
font-size:14px;
}

ul {
margin: 0px;
padding: 0px;
list-style-type:none;
}

#head{
background: #686868;
background-image: url("head_bg.png");
color: #FFFFFF;
padding-left: 4px;
padding-right: 4px;
padding-top:8px;
padding-bottom:8px;
width: 300px;
font-family:verdana,helvetica,arial;
font-size:14px;
margin-bottom: 2px;
text-align: center;
}

#blok2 li {
background: #15a5ff;
color:#FFFFFF;
padding: 4px;
min-width: 300px;
float: left;
-webkit-transition-property: background;
-webkit-transition-duration: 0.3s;
-webkit-transition-timing-function: ease;
text-align: left;
font-family:verdana,helvetica,arial;
font-size:14px;
margin-bottom: 2px;
clear: left;}

#blok {
width: 300px;
float: left;
margin-left: 5px;
margin-right: 5px;
margin-top: 2px;
margin-bottom: 0px;
}

#blok2 {
width: 300px;
float: left;
margin-left: 5px;
margin-right: 5px;
margin-top: 2px;
margin-bottom: 0px;

}

#header {
width: 1238px;
height: 100px;
background: url(par_header.png) left center;
margin-left: 5px;
margin-right: 5px;
margin-top: 0px;
margin-bottom: 0px;
vertical-align: top;
}
#google {
	font-family: Arial, Helvetica, sans-serif;
	color: #999999;
	height: 20px;
	float: right;
	margin: 0px;
	padding: 8px;
}
.search {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	background-color: #FFFFFF;
	padding: 3px;
	height: 30px;
	width: 200px;
	font-size: 12px;
	margin: 0px;
	margin-top: 33px;
	border: 0px solid #ffffff;
	background-image: url(search_bg2.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
.submit {
height: 36px;
color: #ffffff;
background:#000000;
background-repeat: no-repeat;
background-position: right center;
border: 0px solid #0099FF;
font-size: 14px;
margin-top: 34px;
}