body {
	background: #000;
	margin: 0;
	padding: 0;
	padding-bottom: 80px;
	width: 100%;
	height: 100%;
	display: table;
	background-image: url("img/bg1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

a {
	color: #FFFFFF;
	text-decoration: none;
	width: 100%;
	height: 100%;
	border: 0;
}

a:hover {
	color: #FFFFFF !important;
}

a:visited {
	color: #CACACA;
}

a div {
	width: 100%;
	height: 100%;
	padding: 0.1em 0;
}

ul {
	height: fit-content;
	list-style-type: none;
	margin: 0;
	padding: 1px 0 0 0;
}

ul li {
	height: fit-content;
	line-height: 160%;
	margin-bottom: 0.225em;
	padding: 0 !important;
}

li {
	background: #000000;
	color: #FFFFFF;
	padding: 4px;
	min-width: 300px;
	float: left;
	transition-property: background-color;
	transition-timing-function: ease;
	transition-duration: 75ms;
	-webkit-transition-property: background;
	-webkit-transition-timing-function: ease;
	-webkit-transition-duration: 0.25s;
	text-align: left;
	font-family: verdana, helvetica, arial;
	font-size: 14px;
	clear: left;
}

li:hover {
	background: #2ACAEA;
	cursor: pointer;
	cursor: hand;
	font-size: 14px;
}

#container {
	width: 1584px;
	display: flex;
	margin: 1.5em auto;
	padding: 1em 3em 0;
	padding-bottom: 4em;
	border: 0.5em inset #32323288;
	background-image: url("img/bg2.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-position-y: 0;
}

#navwrapper {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	height: auto;
}


#head {
	color: #FFFFFF;
	width: 95%;
	border: 0.2em solid #323232dd;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #686868;
	background-image: url("img/head_bg.png");
	font-family: verdana, helvetica, arial;
	font-size: 14px;
	margin: 0 auto 2px auto;
	padding: 8px 4px;
}

#blok {
	width: 300px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 0px;
}

#header {
	position: relative;
	width: 1238px;
	height: 140px;
	background: #efefef;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: top;
}

#header img {
	width: fit-content;
	height: auto;
}

#headerimage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	cursor: pointer;
}

#searchbar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #999999;
	height: 100%;
	float: right;
	margin: 0px;
	padding: 0 8px;
	z-index: 5;
}

.search {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	background-color: #FFFFFF;
	padding: 3px;
	height: 32px;
	width: 200px;
	font-size: 12px;
	margin: 0px;
	margin-top: 33px;
	background-image: url(img/search_bg2.jpg);
	background-repeat: repeat-x;
	background-position: top;
	border: 1px solid #232323;
}

.submit {
	height: 40px;
	color: #ffffff;
	background: #000000;
	background-repeat: no-repeat;
	background-position: right center;
	border: 0px solid #0099FF;
	font-size: 14px;
	margin-top: 34px;
}